/*-----Index-------------------------------------
1. Global Styles
2. Areas
    2.1 Nav bar
    2.2 Login page

------------------------------------------------------
*/

/* ------------------------------- 1. Global Styles -------------------------------- */

body {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    font-size: 15px;
}

a {
    color: hsl(21, 91%, 44%);
}

.inhoud {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

button {
    height: fit-content;
    margin: 20px;
    width: 60px;
}

a {
    color: hsl(21, 91%, 44%);
}

p {
    margin: 0;
}

/* ------------------------------- 2. Areas ----------------------------------- */

/* --------------- 2.1 Nav bar ------------------- */

.navigatie-link {
    margin: 20px;
    color: white;
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

.navigatie {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: hsl(21, 91%, 44%);
}

/* --------------- 2.2 Login page ------------------- */

label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin: 5px 0;
}

.error-message {
    color: hsl(21, 91%, 44%);
}